<div class="about-content">
  <div class="kicker"
       data-i18n-en="{{ site.data.i18n.en.about.kicker }}"
       data-i18n-fr="{{ site.data.i18n.fr.about.kicker }}">{{ site.data.i18n.en.about.kicker }}</div>
  <h1 data-i18n-en="{{ site.data.i18n.en.about.title }}"
      data-i18n-fr="{{ site.data.i18n.fr.about.title }}">{{ site.data.i18n.en.about.title }}</h1>

  <p>{{ site.data.about.description }}</p>

  <div class="about-table">
    <table>
      <tr>
        <td class="label"
            data-i18n-en="{{ site.data.i18n.en.about.row_goal }}"
            data-i18n-fr="{{ site.data.i18n.fr.about.row_goal }}">{{ site.data.i18n.en.about.row_goal }}</td>
        <td>{{ site.data.tcf.exam.goal }}</td>
      </tr>
      <tr>
        <td class="label"
            data-i18n-en="{{ site.data.i18n.en.about.row_exam }}"
            data-i18n-fr="{{ site.data.i18n.fr.about.row_exam }}">{{ site.data.i18n.en.about.row_exam }}</td>
        <td>{{ site.data.tcf.exam.date }}</td>
      </tr>
      <tr>
        <td class="label"
            data-i18n-en="{{ site.data.i18n.en.about.row_langs }}"
            data-i18n-fr="{{ site.data.i18n.fr.about.row_langs }}">{{ site.data.i18n.en.about.row_langs }}</td>
        <td data-i18n-en="{{ site.data.i18n.en.about.langs_value }}"
            data-i18n-fr="{{ site.data.i18n.fr.about.langs_value }}">{{ site.data.i18n.en.about.langs_value }}</td>
      </tr>
      <tr>
        <td class="label"
            data-i18n-en="{{ site.data.i18n.en.about.row_site }}"
            data-i18n-fr="{{ site.data.i18n.fr.about.row_site }}">{{ site.data.i18n.en.about.row_site }}</td>
        <td>{{ site.data.about.tech_stack }}</td>
      </tr>
    </table>
  </div>

  <div class="resources-section">
    <h2>Resources</h2>
    <div class="resources-grid">
      {% for resource in site.data.about.resources %}
        <a href="{{ resource.url }}" class="resource-card" target="_blank" rel="noopener noreferrer">
          <h3>{{ resource.title }}</h3>
          <p>{{ resource.description }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
